PORT=5000
MONGO_URI=mongodb://manojaryal2003_db_user:hSCMKBzodC8Mcw1q@ac-fbg0u2u-shard-00-00.sskzdqf.mongodb.net:27017,ac-fbg0u2u-shard-00-01.sskzdqf.mongodb.net:27017,ac-fbg0u2u-shard-00-02.sskzdqf.mongodb.net:27017/?ssl=true&replicaSet=atlas-a4bphs-shard-0&authSource=admin&appName=Cluster0
JWT_SECRET=dfsgs45w5ye6yuedtrhe5ryehrdtghdeu6ejdrthrtd
JWT_EXPIRE=7d
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
CLIENT_URL=http://localhost:5173
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=Admin@123456
